In [1]:
import numpy as np
import pandas as pd

In [2]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [9]:
df = pd.DataFrame(np.random.randn(6,2), hier_index, ['A','B'])

In [10]:
df

             A         B
G1 1 -1.798021  0.226878
   2 -0.281869 -0.505952
   3 -1.206953  0.510729
G2 1 -1.585534 -0.094047
   2  0.333663 -0.496799
   3  0.276516  3.463217

In [11]:
df.loc['G1'].loc(1)

In [12]:
df.index.names

FrozenList([None, None])

In [13]:
df.index.names = ['Groups','Num']

In [14]:
df

                   A         B
Groups Num
G1     1   -1.798021  0.226878
       2   -0.281869 -0.505952
       3   -1.206953  0.510729
G2     1   -1.585534 -0.094047
       2    0.333663 -0.496799
       3    0.276516  3.463217

In [15]:
df.loc['G2'].loc[2]['B'] #Accessing Index Hier

-0.49679873618715181

In [16]:
df.loc['G1'].loc[3]['A']

-1.2069525504632503

In [17]:
df.xs('G1')

            A         B
Num
1   -1.798021  0.226878
2   -0.281869 -0.505952
3   -1.206953  0.510729

In [18]:
df.xs(1,level= 'Num') #Cross section

               A         B
Groups
G1     -1.798021  0.226878
G2     -1.585534 -0.094047